//
// Booking page styles
// --------------------------------------------------

.booking-section{
  h2{
    margin-bottom: 30px;
  }
}

.panel-container{
  height: 100%;
  //used for the offset load of the panels
  //must match offsetValue var in directive
  padding-bottom: 50px;
}

.booking-fixed-sideboard{

  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  width: 100%;
  //opacity: 0;

  // @include fadeInUp(
  //   $duration: 0.3s,
  //   $count: 1,
  //   $delay: .1s
  // );

  &.bg-1{
    background-image: url(/images/fixed-panel/fixed-bg.jpg);
  }
  // &.bg-2{
  //   background-image: url(/images/fixed-panel/fixed-bg.jpg);
  // }
  // &.bg-3{
  //   background-image: url(/images/fixed-panel/fixed-bg.jpg);
  // }

  &.pos-fixed{
    position: fixed;
    top: 0;
  }

  &.show-section{

    display: block;

    // @include fadeIn(
    //   $duration: 0.3s,
    //   $count: 1,
    //   $delay: .1s
    // );

    .content-holder{
      @include fadeInUp(
        $duration: 0.3s,
        $count: 1,
        $delay: 0.5s
      );
    }
  }
  &.hide-section{

    display: none;

    // @include fadeOut(
    //   $duration: 0.3s,
    //   $count: 1,
    //   $delay: .1s
    // );

    .content-holder{
      @include fadeOutDown(
        $duration: 0.3s,
        $count: 1,
        $delay: 0.5s
      );
    }
  }

  .content-holder{
    position: absolute;
    top: 100px;
    width: 75%;
    padding:10px 15px 15px 30px;

    h3,
    p,
    ul{
      color: $white;
      text-shadow: $text-shadow;
      font-size: 2rem;
      line-height: 1.2em;
    }
    h3{ font-size: 3.5rem; }
  }

}
