//
// Button styles
// --------------------------------------------------

// .btn.btn-raised:not(.btn-link):focus,
// .btn.btn-raised:not(.btn-link):hover,
// .btn.btn-raised:not(.btn-link):active{ box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.btn{
  text-transform: uppercase;

  &.btn-blue{
    background-color: $blue;
    color: $white;

    &::hover,
    &::active,
    &::focus{
      background-color: $blue;
    }

    &.btn-lg.btn-raised.btn-block{
      background-color: $blue;
    }
  }

  &.btn-raised:not(.btn-link){
    &:focus,
    &:active{
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    }
  }

  &[class*='active-btn-'] {
    background-color: $blue;
    color: $white;
    &:focus,
    &:active{
      background-color: $blue !important;
      color: $white;
    }
    &:hover{
      background-color: $blue !important;
    }
  }

  &.btn-link{
    &:focus{
      outline: none;
      text-decoration: underline;
    }
  }

}

.btn-toolbar{
  .btn-group:not(.location-btn-1){
    .btn{
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .location-btn-1{
    .btn{
      padding: 10px;

      &:hover{ background-color: inherit; }

    }
  }
}


@media screen and (min-width: $screen-lg) {

  .btn-toolbar{
    .btn-group:not(.location-btn-1){
      .btn{
        padding-left: 25px;
        padding-right: 25px;
      }
    }
    .location-btn-1{
      .btn{
        padding: 10px;
      }
    }
  }

}
