//
// Carousel styles
// --------------------------------------------------

.slick-slide {
  min-height: 85vh;
  width: 100%;
}

.slick-prev,
.slick-next{

  width: auto;
  height: auto;

  &::before,
  &::after{
    font-family: 'Material Icons';
    color: $black;
    font-size: 5rem;

    @media screen and (min-width: $screen-sm) {
      font-size: 10rem;
    }

  }
}

.slick-prev{
  &::before{
    content:'\E5CB';
  }
}
.slick-next{
  &::before{
    content:'\E5CC';
  }
}

