//
// Container styles
// --------------------------------------------------

//main content wrapper
.content-container {
  position:relative;
  clear: both;
  overflow: hidden;

  //remove margin and padding for 100% width modules
  .full-bleed {
    //margin-left: 0;
    //margin-right: 0;
    padding-left: 0;
    padding-right: 0;

  }

}

.container-fluid {
  position: relative;
  max-width: $max-width;

  &.no-max-width{
    max-width: inherit;
    overflow: hidden;
  }
}

.header + .container-fluid {
  @media screen and (min-width: $screen-sm) {
    margin-top: 100px;
  }
}

.text-container{
  margin-top: 10px;
}
