//
// Image styles - includes logo, background images
// --------------------------------------------------

// Image folder path
$image-folder-path: '../images';
// Main logo styles
$logo-path: url(../images/branding/logo.svg);

//
// Main logo
// On home/splash page
// --------------------------------------------------
.header-content{
  h1{
    width: 250px;
    height: 115px;
    background: $logo-path no-repeat center center;
    background-size: 250px 115px;
  }
  @media screen and (min-width: $screen-sm) {
    h1{
      width: 420px;
      height: 180px;
      background-size: 420px 180px;
    }
  }
}
// In main header
// --------------------------------------------------
.main-header-content{
  h1{
    width: 163px;
    height: 70px;
    background: $logo-path no-repeat center center;
    background-size: 163px 70px;
  }
  @media screen and (min-width: $screen-sm) {
    h1{
      width: 163px;
      height: 70px;
      background-size: 163px 70px;
    }
  }
}


//
// Homepage bg images
// --------------------------------------------------
.bg-mobile{
  @include background-image-retina(#{$image-folder-path}/bg-images/bg-image-home-mobile, jpg, 400px, 600px, center, center);
}
@media screen and (min-width: $screen-sm) {
  .bg-mobile{ background-image: none; }
  .home-section{
    @include background-image-retina(#{$image-folder-path}/bg-images/bg-image-home-tablet-portrait, jpg, 768px, 1024px, center, center);
  }
}
@media screen and (min-width: $screen-md) {
  .home-section{
    @include background-image-retina(#{$image-folder-path}/bg-images/bg-image-home-tablet-landscape, jpg, 1024px, 768px, center, center);
  }
}
@media screen and (min-width: $screen-lg) {
  .home-section{
    @include background-image-retina(#{$image-folder-path}/bg-images/bg-image-home-desktop, jpg, 1600px, 900px, center, center);
  }
}

