//
// Image styles - includes logo, background images
// --------------------------------------------------

// Image folder path
$image-folder-path: '../images';
// Main logo styles
$logo-path: url(../images/branding/logo.svg);

.header-content{
  h1{
    width: 250px;
    height: 115px;
    background: $logo-path no-repeat center center;
    background-size: 250px 115px;
  }
  @media screen and (min-width: $screen-sm) {
    h1{
      width: 420px;
      height: 180px;
      background-size: 420px 180px;
    }
  }
}

//Home page images
.bg-mobile{
  @include background-image-retina(#{$image-folder-path}/bg-images/home-mobile, jpg, 400px, 225px, center, center);
}

@media screen and (min-width: $screen-sm) {
  .bg-mobile{ background-image: none; }
  .home-section{
    @include background-image-retina(#{$image-folder-path}/bg-images/home-tablet, jpg, 768px, 431px, center, center);
  }
}
@media screen and (min-width: $screen-md) {
  .home-section{
    @include background-image-retina(#{$image-folder-path}/bg-images/home-small-desktop, jpg, 1200px, 674px, center, center);
  }
}
@media screen and (min-width: $screen-lg) {
  .home-section{
    background: url(#{$image-folder-path}/bg-images/home-desktop.jpg) no-repeat center center;
  }
}

