//
// Utility classes
// --------------------------------------------------

.text-align-center{ text-align:center; }

.display-flex{ display: flex !important; }
.align-center{ align-items: center; }

.text-red{ color: $red !important; }
.text-blue{ color: $blue !important; }

@media screen and (min-width: $screen-sm) {
  .break{ display: block; }
}
