//
// Site variables - includes colours, breakpoints
// --------------------------------------------------

$max-width: 1400px;

//Portr brand colours
// --------------------------------------------------
$white: white;
$black: black;
// Standard colours
$blue: #1b99d1;
$light-grey: #9b9b9b;
$dark-grey: #5e5e5e;
$orange: #fe6f42;
// Status colours
$blue-grey: #556271;
$mustard: #f5a627;
$coral: #ff6867;
$green: #98d11b;
// Portr light greyscale
$greyscale-1: #dadada;
$greyscale-2: #e9e9e9;
$greyscale-3: #f6f6f6;
// Validation colours
$red: #f44336;
$green: #4caf50;

// colour override classes -  add to element
// --------------------------------------------------
.text-white{ color: $white !important; }
