<div class="form-group label-floating">
  <label class="control-label" for="PassengerFirstName[$index]">Lead Passenger First Name*</label>
  <input class="form-control first-input" id="PassengerFirstName[$index]" name="PassengerFirstName[$index]" ng-model="passengers.passenger[$index].firstName" ng-blur="setPassengers(formPassengers.$valid)" required="" ng-pattern="/^[a-zA-Z\s]*$/" type="text">
</div>

<div class="form-group label-floating">
  <label class="control-label" for="PassengerLastName[$index]">Lead Passenger Last Name*</label>
  <input class="form-control" id="PassengerLastName[$index]" name="PassengerLastName[$index]" ng-model="passengers.passenger[$index].lastName" ng-blur="setPassengers(formPassengers.$valid)" required="" ng-pattern="/^[a-zA-Z\s]*$/" type="text">
  <span class="error" ng-show="formPassengers.PassengerLastName[$index].$error.input">Please enter name</span>
</div>

<div class="form-group label-floating">
  <label class="control-label" for="PassengerEmail[$index]">E-mail*</label>
  <input class="form-control" id="PassengerEmail[$index]" name="PassengerEmail[$index]" ng-model="passengers.passenger[$index].emailAddress" ng-blur="setPassengers(formPassengers.$valid)" required="" type="email">
  <span class="error" ng-show="formPassengers.PassengerEmail[$index].$error.email">Not valid email address</span>
</div>

<div class="form-group label-floating">
  <label class="control-label" for="PassengerPhone[$index]">Phone Number*</label>
  <input class="form-control" id="PassengerPhone[$index]" name="PassengerPhone[$index]" ng-model="passengers.passenger[$index].phoneNumber" ng-blur="setPassengers(formPassengers.$valid)" required="" type="number">
</div>
