<article panel panel-scroll="true" class="panel panel-default panel-animate-in" panel-id="bag-pickup-location" panel-layout="$index+1">

  <div class="panel-heading">
    <h2>Bag Pick Up Location</h2>
    <p>Where should we meet you?</p>

  </div>

  <div class="panel-body">

    <form name="formBagPickupLocation" ng-submit="setBagPickUpLocation(formBagPickupLocation.$valid)" novalidate>

      <label for="BagLocationType" ng-class="{ 'has-error' : formBagPickupLocation.$invalid }">Select a location type</p>
      <ul class="icon-with-caption">
        <li ng-click="bagLocationSelection = 'Hotel'" toggle-class="active-li" ng-disabled="visiblePanel !== $index + 1">
          <i class="material-icons">hotel</i>
          <span>Hotel</span>
        </li>
        <li ng-click="bagLocationSelection = 'Residential'" toggle-class="active-li" ng-disabled="visiblePanel !== $index + 1">
          <i class="material-icons">home</i>
          <span>Residential</span>
        </li>
        <li ng-click="bagLocationSelection = 'Business'" toggle-class="active-li" ng-disabled="visiblePanel !== $index + 1">
          <i class="material-icons">business</i>
          <span>Business</span>
        </li>
        <li ng-click="bagLocationSelection = 'Airport'" toggle-class="active-li" ng-disabled="visiblePanel !== $index + 1">
          <i class="material-icons">local_airport</i>
          <span>Airport</span>
        </li>
      </ul>
      <input class="form-control" ng-show="" ng-model="bagPickupLocationDetails.type" ng-init="bagPickupLocationDetails.type = ''" ng-value="bagPickupLocationDetails.type = bagLocationSelection" id="BagLocationType" name="BagLocationType" type="text" required="" ng-disabled="visiblePanel !== $index + 1">

      <div class="form-group label-floating">
        <label class="control-label" for="BagLocationAddress" ng-class="{ 'has-error' : formBagPickupLocation.$invalid }">Start typing location name</label>
        <input class="form-control" id="BagLocationAddress" ng-model="bagPickupLocationDetails.address" ng-disabled="visiblePanel !== $index + 1" type="text" required="">
      </div>

      <button class="btn btn-link" ng-disabled="visiblePanel !== $index + 1">Enter Manually</button>
      <button class="btn btn-link" ng-disabled="visiblePanel !== $index + 1">Enter Later</button>


      <button type="submit" class="btn btn-link" ng-click="goToPanel($index+1, formBagPickupLocation.$valid); " ng-disabled="visiblePanel !== $index + 1" id="next{- $index + 1 -}">Next</button>
    </form>
  </div>

</article>
