<article id="panel + ($index+1)" panel panel-order="{- $index+1 -}" panel-scroll="true" class="panel panel-default panel-animate-in" panel-id="bag-pickup-location" panel-layout="$index+1">

  <div class="panel-heading">
    <h2>Bag Pick Up Location</h2>
    <p>Where should we meet you?</p>

  </div>

  <div class="panel-body">

    <form name="formBagPickupLocation" ng-submit="setBagPickUpLocation(formBagPickupLocation.$valid)" novalidate>

      <label for="BagLocationType" ng-class="{ 'has-error' : formBagPickupLocation.$invalid }">Select a location type</label>

      <div class="btn-toolbar icon-with-caption">
        <div class="btn-group location-btn-1">
          <a href="javascript:void(0)" class="btn first-input" toggle-class="active-list-btn-1" toggle-selector=".location-btn-1 .btn" ng-click="bagLocationSelection = 'Hotel'; showLocationInput = true" ng-disabled="visiblePanel !== $index + 1" focus-input focus-selector=".location-input-1">
            <i class="material-icons">hotel</i>
            <span>Hotel</span>
          </a>

          <a href="javascript:void(0)" class="btn" toggle-class="active-list-btn-1" toggle-selector=".location-btn-1 .btn" ng-click="bagLocationSelection = 'Residential'; showLocationInput = true" ng-disabled="visiblePanel !== $index + 1" focus-input focus-selector=".location-input-1">
            <i class="material-icons">home</i>
            <span>Residential</span>
          </a>

          <a href="javascript:void(0)" class="btn" toggle-class="active-list-btn-1" toggle-selector=".location-btn-1 .btn" ng-click="bagLocationSelection = 'Business'; showLocationInput = true" ng-disabled="visiblePanel !== $index + 1" focus-input focus-selector=".location-input-1">
            <i class="material-icons">home</i>
            <span>Business</span>
          </a>

          <a href="javascript:void(0)" class="btn" toggle-class="active-list-btn-1" toggle-selector=".location-btn-1 .btn" ng-click="bagLocationSelection = 'Airport'; showLocationInput = true" ng-disabled="visiblePanel !== $index + 1" focus-input focus-selector=".location-input-1">
            <i class="material-icons">local_airport</i>
            <span>Airport</span>
          </a>
        </div>
      </div>

      <input class="form-control location-input-1" ng-show="" ng-model="collectionLocation.type" ng-init="collectionLocation.type = ''" ng-value="collectionLocation.type = bagLocationSelection" id="BagLocationType" name="BagLocationType" type="text" required="" ng-disabled="visiblePanel !== $index + 1">

      <div class="form-group label-static">
        <label class="control-label" for="BagLocationAddress" ng-class="{ 'has-error' : formBagPickupLocation.$invalid }">Start typing location name</label>

        <input class="form-control" id="BagLocationAddress" ng-disabled="visiblePanel !== $index + 1" type="text" required="" google-places-autocomplete>

       <!--  <input class="form-control" id="addressName" ng-model="collectionLocation.name" type="hidden" required="">
        <input class="form-control" id="addressLine1" ng-model="collectionLocation.addressLine1" type="hidden" required="">
        <input class="form-control" id="addressLine2" ng-model="collectionLocation.addressLine2" type="hidden" required="">
        <input class="form-control" id="addressLine3" ng-model="collectionLocation.addressLine3" type="hidden" required="">
        <input class="form-control" id="addressTown" ng-model="collectionLocation.addressTown" type="hidden" required="">
        <input class="form-control" id="addressPostCode" ng-model="collectionLocation.addressPostCode" type="hidden" required="">
        <input class="form-control" id="addressCounty" ng-model="collectionLocation.addressCounty" type="hidden" required="">
        <input class="form-control" id="addressCountry" ng-model="collectionLocation.addressCountry" type="hidden" required=""> -->

      </div>

      <!-- <button class="btn btn-link" ng-disabled="visiblePanel !== $index + 1">Enter Manually</button>
      <button class="btn btn-link" ng-disabled="visiblePanel !== $index + 1">Enter Later</button> -->


      <button type="submit" class="btn btn-link" ng-click="goToPanel($index+1, formBagPickupLocation.$valid); " ng-disabled="visiblePanel !== $index + 1" id="next{- $index + 1 -}">Next</button>
    </form>
  </div>

</article>
