<article id="panel + ($index+1)" panel panel-order="{- $index+1 -}" panel-scroll="true" class="panel panel-default panel-animate-in" panel-id="bag-pickup-time" panel-layout="$index+1">

  <div class="panel-heading">
    <h2>Bag Pick Up Date &amp; Time*</h2>
    <p>When should we collect your bags?</p>
  </div>

  <div class="panel-body">
    <form name="formBagPickupTimeDate" ng-submit="setBagPickUpTimeDate(formBagPickupTimeDate.$valid)" novalidate>
      <div class="btn-toolbar">
        <label for="BagDate" ng-class="{ 'has-error' : formBagPickupTimeDate.$invalid }">Select a date</p>
        <div class="btn-group date-btn">
          <a href="javascript:void(0)" class="btn btn-raised first-input" toggle-class="active-btn-1" toggle-selector=".date-btn .btn" ng-click="bagPickupDateSelection('same'); showTimeSelect = true" ng-disabled="visiblePanel !== $index + 1">Same day</a>
          <a href="javascript:void(0)" class="btn btn-raised" toggle-class="active-btn-1" toggle-selector=".date-btn .btn" ng-click="bagPickupDateSelection('before'); showTimeSelect = true" ng-disabled="visiblePanel !== $index + 1">Day before</a>
          <input class="form-control" ng-show="" ng-model="bagPickupTimeDetails.date" ng-init="bagPickupTimeDetails.date = ''" ng-value="bagPickupTimeDetails.date = bagTimeSelection" id="BagDate" name="BagDate" type="text" required="">
        </div>
      </div>

      <div class="form-group hidden">
        <input class="form-control" id="PickupDateInput" type="text" value="{- PickupDate -}">
      </div>

      <div class="form-group label-static" ng-show="showTimeSelect">
        <label class="control-label" for="BagTime" ng-class="{ 'has-error' : formBagPickupTimeDate.$invalid }">Choose a time slot</label>
        <select class="form-control" ng-model="bagPickupTimeDetails.time" id="BagTime" name="BagTime" required="" ng-disabled="visiblePanel !== $index + 1">
          <option>07:00 to 08:00</option>
          <option>08:00 to 09:00</option>
          <option>09:00 to 10:00</option>
          <option>10:00 to 11:00</option>
          <option>11:00 to 12:00</option>
        </select>
      </div>

      <div class="list-group">

        <div class="list-group-item">
          <div class="row-action-primary">
            <i class="material-icons">error</i>
          </div>

          <div class="row-content">
            <p class="list-group-item-text">Remember you and any other passenger(s) will need to be present with their Boarding pass &amp; IDs</p>
          </div>
        </div>

      </div>
      <button type="submit" class="btn btn-link" ng-click="goToPanel($index+1, formBagPickupTimeDate.$valid); " ng-disabled="visiblePanel !== $index + 1" id="next{- $index + 1 -}">Next</button>
    </form>
  </div>

</article>
