<article panel panel-scroll="true" class="panel panel-default panel-animate-in" panel-id="bag-pickup-location">

  <div class="panel-heading">
    <h2>Bag Pick Up Location</h2>
    <p>Where should we meet you?</p>

    <ul class="icon-with-caption">
      <li>
        <i class="material-icons">hotel</i>
        <span>Hotel</span>
      </li>
      <li>
        <i class="material-icons">home</i>
        <span>Residential</span>
      </li>
      <li>
        <i class="material-icons">business</i>
        <span>Business</span>
      </li>
      <li>
        <i class="material-icons">local_airport</i>
        <span>Airport</span>
      </li>
    </ul>


  </div>

  <div class="panel-body">

    <form>
      <div class="form-group label-floating">
        <label class="control-label" for="Location">Start typing location name</label>
        <input class="form-control" id="Location" type="text">
      </div>

      <button class="btn btn-link">Enter Manually</button>
      <button class="btn btn-link">Enter Later</button>
    </form>
  </div>

</article>
