<article id="panel + ($index+1)" panel panel-scroll="true" class="panel panel-default panel-animate-in" panel-id="confirmation" panel-layout="$index+1">

  <div class="panel-heading">
    <h2>Confirmation</h2>
    <p>Please confirm the following details</p>
  </div>

  <div class="panel-body">

    <div class="list-group">

      <div class="list-group-item">
        <div class="row-action-primary">
          <i class="material-icons">error</i>
        </div>
        <div class="row-content">
          <p class="list-group-item-text">
            All 3 passengers must be there with:
            <ul>
              <li>valid Boarding Pass</li>
              <li>valid Boarding Pass</li>
            </ul>
          </p>
        </div>
      </div>

      <div class="list-group-item">
        <div class="row-content display-flex">
          <p class="list-group-item-text display-flex align-center">2 bags to check into flight BA1, departing 16:00 from London LCY to New York JFK</p>
        </div>
      </div>

      <div class="list-group-item">
        <div class="row-content display-flex">
          <p class="list-group-item-text display-flex align-center">1 Hand luggage available to be collected from London City Airport from 14:00 onwards</p>
        </div>
      </div>

      <!-- <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox">
              I agree to receiving occasional news and offers from Portr™ I agree to receiving occasional news and offers from Portr™
          </label>
        </div>
      </div> -->


     <!--  <div class="list-group-item">
        <div class="row-action-primary">
          <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox">
          </label>
        </div>
      </div>
        </div>
        <div class="row-content">
          <p class="list-group-item-text">
            I agree to receiving occasional news and offers from Portr™.<br>
            This will not be spam and we will never pass your details onto anyone not connected with Portr™.
          </p>
        </div>
      </div> -->

       <!-- <div class="list-group-item">
        <div class="row-content">
          <h4 class="list-group-item-heading">1 Hand luggage available to be collected from London City Airport from 14:00 onwards</h4>
        </div>
      </div> -->

      <!-- <div class="list-group-item display-block">
        <div class="row-action-primary">
          <div class="form-group">
            <div class="checkbox">
                <label>
                  <input type="checkbox">
                    <span class="checkbox-material"><span class="check"></span></span>
                    I agree to receiving occasional news and offers from Portr™.
                    This will not be spam and we will never pass your details onto anyone not connected with Portr™.
                </label>
              </div>
          </div>
        </div>
        <div class="row-content">
          <h4 class="list-group-item-heading">British Airways Flight 3</h4>
          <p class="list-group-item-text">From London, LCY to New York, JFK</p>
        </div>
      </div> -->

    </div>

  </div>

</article>
