<article panel panel-scroll="true" class="panel panel-default panel-animate-in" panel-id="flight-details">

  <div class="panel-heading">
    <h2>Your Flight from XXX to XXX</h2>
    <p>Are these details correct?</p>
  </div>

  <div class="panel-body">

    <div class="list-group">

      <div class="list-group-item display-block">
        <div class="row-action-primary">
          <i class="material-icons">flight_takeoff</i>
        </div>
        <div class="row-content">
          <h4 class="list-group-item-heading">British Airways Flight 3</h4>
          <p class="list-group-item-text">From London, LCY to New York, JFK</p>
        </div>
      </div>

      <div class="list-group-item display-block">
        <div class="row-action-primary">
          <i class="material-icons">schedule</i>
        </div>
        <div class="row-content">
          <h4 class="list-group-item-heading">British Airways Flight 3</h4>
          <p class="list-group-item-text">From London, LCY to New York, JFK</p>
        </div>
      </div>

    </div>

    <button class="btn btn-link">Change flight</button>

  </div>

</article>
