<article id="panel + ($index+1)" panel panel-scroll="true" class="panel panel-default panel-animate-in" panel-id="flight-details" ng-show="showDetailPanel" ng-keypress="keyDown($event, ($index + 1), true)" tabindex="0" panel-layout="$index+1">

  <div class="panel-heading">
    <h2>Your Flight from {- userFlightDetails.departureAirport.airportCode -} to {- userFlightDetails.arrivalAirport.airportCode -}</h2>
    <p>Are these details correct?</p>
  </div>

  <div class="panel-body">

    <h4 class="text-red" ng-show="showFlightErrorText">{- flightErrorText -}</h4>

    <div class="loader-container" ng-show="showFlightLoader">
      <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
          <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
      </div>
    </div>

    <div class="list-group" ng-show="!showFlightLoader && showFlightErrorText !== true">

      <div class="list-group-item display-block">
        <div class="row-action-primary">
          <i class="material-icons">flight_takeoff</i>
        </div>
        <div class="row-content">
          <h4 class="list-group-item-heading">{- userFlightDetails.airlineName -} Flight {- userFlightDetails.flightNumber -}</h4>
          <p class="list-group-item-text">From {- userFlightDetails.departureAirport.airportCityName -}, {- userFlightDetails.departureAirport.airportCode -} to {- userFlightDetails.arrivalAirport.airportCityName -}, {- userFlightDetails.arrivalAirport.airportCode -}</p>
        </div>
      </div>

      <div class="list-group-item display-block">
        <div class="row-action-primary">
          <i class="material-icons">schedule</i>
        </div>
        <div class="row-content">
          <h4 class="list-group-item-heading">Departing {- userFlightDetails.departureAirport.airportName -} ({- userFlightDetails.departureAirport.airportCode -})</h4>
          <p class="list-group-item-text">{- userFlightDetails.departureTimeDetails.scheduledTimeLocal -} on {- userFlightDetails.departureTimeDetails.scheduledDate -}</p>
        </div>
      </div>

    </div>

    <button class="btn btn-link" ng-click="goToPanel($index+2, true)" ng-disabled="" id="next{- $index + 1 -}">Next</button>
    <button class="btn btn-link" ng-click="changeFlightPanel()" ng-disabled="">Change flight</button>

  </div>

</article>
