<article id="panel + ($index+1)" panel panel-order="{- $index+1 -}" class="panel panel-default panel-animate-in" panel-id="your-airline-reservation" panel-scroll="false" ng-if="!showDetailPanel" panel-layout="$index+1">

  <div class="panel-heading">
    <h2>Flying Soon?</h2>
    <p>Check if your flight is eligible below</p>
  </div>

  <div class="panel-body">

    <h4 class="text-red" ng-show="showFlightErrorText">{- flightErrorText -}</h4>

    <form name="formFlight" ng-submit="checkFlight(formFlight.$valid)" novalidate>
      <div class="form-group label-floating" ng-class="{ 'has-error' : formFlight.FlightNumber.$invalid && !formFlight.FlightNumber.$pristine }">
        <label class="control-label" for="FlightNumber">Flight Number</label>
        <input class="form-control" name="FlightNumber" id="FlightNumber" ng-model="flightDetails.flightNumber" type="text" required="" >
        <!-- <span class="help-block">Please enter a valid flight number</span> -->
      </div>

      <div class="form-group label-floating" ng-class="{ 'has-error' : formFlight.DepartureDate.$invalid && !formFlight.DepartureDate.$pristine }">
        <label class="control-label" for="DepartureDate">Date</label>
        <input class="form-control date-input" name="DepartureDate" id="DepartureDate" ng-model="flightDetails.departureDate" type="text" required="" jqdatepicker >
        <!-- <span class="help-block">Please enter a valid flight date</span> -->
      </div>

      <button type="submit" class="btn btn-link" ng-disabled="formFlight.$invalid">Go</button>
      <button type="button" class="btn btn-link" ng-click="flyingSoonContinue()" ng-disabled="visiblePanel !== $index + 1">Continue Anyway</button>
    </form>
  </div>

  </div>
</article>
