<article panel panel-scroll="true" class="panel panel-default panel-animate-in" panel-id="passengers">

  <div class="panel-heading">
    <h2>Passengers</h2>
    <p>Who will be travelling?</p>
  </div>

  <div class="panel-body">
    <form name="formPassengers" ng-submit="setPassengers(formPassengers.$valid)" novalidate>

      <div ng-repeat="passenger in passengers track by $index" ng-include="getPassengerTemplate($index)"></div>

      <button class="btn btn-link" ng-click="addPassengerForm()">+ Add more passengers</button>

      <button type="submit" class="btn btn-link" ng-click="goToPanel($index+1, formPassengers.$valid); " ng-disabled="visiblePanel !== $index + 1 || formPassengers.$invalid" id="next{- $index + 1 -}">Next</button>
    </form>
  </div>

</article>
