<article panel panel-scroll="true" class="panel panel-default panel-animate-in" panel-id="passport-information" panel-layout="$index+1">

  <div class="panel-heading">
    <h2>Passport Information</h2>
    <p>We need ID information to check in the bags</p>
  </div>

  <div class="panel-body">

    <form name="formPassport" ng-submit="setPassport(formPassport.$valid)" novalidate>

      <div class="list-group clearfix">

        <div ng-repeat="passenger in passengers track by $index" ng-include="passportListTemplate" class="passport-list-container"></div>

      </div>

      <button type="submit" class="btn btn-link" ng-click="goToPanel($index+1, formPassport.$valid); " ng-disabled="visiblePanel !== $index + 1 || formPassport.$invalid" id="next{- $index + 1 -}">Next</button>

    </form>

  </div>

</article>
