<article panel panel-scroll="true" class="panel panel-default panel-animate-in" panel-id="payment-details" panel-layout="$index+1">

  <div class="panel-heading">
    <h2>Payment Details</h2>
    <p>Who will be travelling?</p>
  </div>

  <div class="panel-body">
    <form>
      <div class="form-group label-floating">
        <label class="control-label" for="CardName">Name on Card</label>
        <input class="form-control" id="CardName" type="text">
      </div>

      <div class="form-group label-floating">
        <label class="control-label" for="CardNumber">Card Number</label>
        <input class="form-control" id="CardNumber" type="text">
      </div>

      <div class="form-group label-floating">
        <label class="control-label" for="Expiry">Expiry Date</label>
        <input class="form-control" id="Expiry" type="text">
      </div>

      <div class="form-group label-floating">
        <label class="control-label" for="CVV">CVV</label>
        <input class="form-control" id="CVV" type="text">
      </div>

    </form>
  </div>

</article>
