<article panel panel-scroll="true" class="panel panel-default panel-animate-in" panel-id="your-airline-reservation">

  <div class="panel-heading">
    <h2>Your Airline Reservation</h2>
    <p>We’ll need this to confirm your check in</p>
  </div>

  <div class="panel-body">
    <form name="formAirlineReservation" ng-submit="setAirlineReservation(formAirlineReservation.$valid)" novalidate>
      <div class="form-group label-floating">
        <label class="control-label" for="AirlineReservationNumber">Airline Reservation Number*</label>
        <input class="form-control" id="AirlineReservationNumber" ng-model="airlineReservation.airlineReservationNumber" required="" type="text">
      </div>

      <div class="form-group label-floating">
        <label class="control-label" for="ExecutiveClubNumber">Executive Club Number</label>
        <input class="form-control" id="ExecutiveClubNumber" ng-model="airlineReservation.executiveClubNumber" type="text">
      </div>

      <button class="btn btn-link">Enter Later</button>
      <button type="submit" class="btn btn-link" ng-click="goToPanel($index+1, formAirlineReservation.$valid); " ng-disabled="visiblePanel !== $index + 1 || formAirlineReservation.$invalid" id="next{- $index + 1 -}">Next</button>
    </form>
  </div>

</article>
