<div site-header></div>

<div class="booking-bg" fixed-bg></div>

<div class="container-fluid {- currentPage -}-section">

  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <h2 class="booking-header">Let’s Enjoy Luggage Freedom Bag Check In</h2>
    </div>
  </div>

  <div class="row" style="min-height:{- scrollElemHeight -}px">

    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 panel-container" add-max="9" add-panels>

      <div class="panel-parent" ng-repeat="panel in panels | limitTo: panelCount" ng-include="getTemplateFile(panel.panel)" id="panel{- $index + 1 -}" panel-parent panel-index="{- $index + 1 -}">
          <!-- Dynamic panel template used -->
          <!-- in '/panels' folder -->
      </div>

      <div ng-show="panelCount > 8" ng-include="confirmationTemplate"></div>

      <div class="book-now-container" booknow-container>
        <button type="button" ng-show="panelCount > 8 || device === 'mobile'" class="btn btn-lg btn-raised btn-block btn-blue booking-submit" ng-disabled="progressWidth !== 100">Book now</button>
        <div class="progress" ng-if="device === 'mobile'">
          <div class="progress-bar" style="width:{- progressWidth -}"></div>
        </div>
      </div>

    </div>
    <div class="hidden-xs col-sm-6 col-md-7 col-lg-7 booking-panel-container">

      <div
        class="booking-fixed-sideboard clearfix"
        fixed-class="pos-fixed"
        style="width:{- fixedElemWidth -}px; height:{- fixedElemHeight -}px"
        fixed-sidebar>

        <div class="content-holder" ng-show="visiblePanel < 4">
          <h3>Header here...</h3>
          <p>If you are travelling with other passengers who want to check in bags, they will need to be present at pick up too</p>
        </div>
        <div class="content-holder" ng-show="visiblePanel >= 4 && visiblePanel <= 5">
          <h3>We will need you passport details and airline reservation to confirm your details with British Airways</h3>
          <p>If you don’t have them now, we’ll remind you later</p>
        </div>
         <div class="content-holder" ng-show="visiblePanel > 5">
          <h3>Another panel...</h3>
          <p>If you don’t have them now, we’ll remind you later</p>
        </div>

        <div class="progress">
          <div class="progress-bar" style="width:{- progressWidth -}"></div>
        </div>

      </div>

    </div>
  </div>
</div>

<div ng-show="panelCount > 8" site-footer></div>
