<div class="container-fluid {- currentPage -}-section">

  <div class="row content-holder">
    <div class="col-xs-12 col-sm-12 col-md-12">

      <div class="row full-bleed">
        <div class="col-xs-12 col-sm-12 col-md-12 bg-mobile clearfix">
          <div class="header-content">
            <h1>Airportr</h1>
            <p class="logo-tagline">Transforming the way you travel</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="text-container">
            <h2>2016's most exciting innovation in air travel is arriving in London</h2>
            <p>Want to take part in the closed trial with British Airways at London City Airport?<span class="break"></span>
            Enter your details below!</p>
          </div>
        </div>
      </div>

      <div ng-include="panelPath">
        <!-- Dynamic panel template used -->
        <!-- in '/panels' folder -->
      </div>

    </div>
  </div>

</div>
