<div site-header></div>

<div class="container-fluid {- currentPage -}-section">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">

      <slick arrows="true" easing="ease-in-out" infinite="false">

        <div>
          <article class="slide-content">

            <div class="row">
              <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
                <h2>How Check in Bags From Anywhere Works</h2>
                <p>AirPortr’s world first with British Airways let’s you check in your hold bags from the comfort of your home, office or hotel room.</p>
              </div>
            </div>

          </article>
        </div>

        <div>
          <article class="slide-content">

            <div class="row">
              <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
                <h2>Sounds fly?</h2>
                <p>If you’re travelling from London City Airport with British Airways, you can be part of this invitation-only service.<br>
                Enter your flight number and travel date below to get started.</p>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <div ng-include="flyingSoonPanel"></div>
              </div>
            </div>
          </article>
        </div>

      </slick>

    </div>
  </div>

</div>
